.addlink {
    border: solid 1px $color-primary;
    @include border-radius(8px);
    width: 30px;
    margin: 5px auto;
  
    * {
      vertical-align: middle;
    }
  
    input {
      outline: none;
      border: none;
      padding: 4px 3px;
      margin-left: 4px;
      min-width: 200px;
    }
  
    &Icons {
      &-icon {
        padding: 3px;
        cursor: pointer;
      }
    }
  }