.editForm {
  &__label {
    display: block;
    border: solid 1px $color-primary;
    width: 400px;
    margin: 4px auto;
    font-weight: bold;
    @include border-radius(6px);
  }

  &__input {
    outline: none;
    border: none;
    padding: 4px 3px;
    margin-left: 4px;
    width: 298px;
    text-align: right;
  }

  &__desc {
    padding: 3px;
    width: 80px;
    display: inline-block;
    border-right: solid 1px $color-primary;
  }

  &__submit {
    font-weight: bold;
    border: solid 1px $color-primary;
    margin: 4px auto;
    display: block;
    width: 80px;
    @include border-radius(6px);
  }
}