.addlink {
  border: solid 1px #ff7626;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
  width: 30px;
  margin: 5px auto; }
  .addlink * {
    vertical-align: middle; }
  .addlink input {
    outline: none;
    border: none;
    padding: 4px 3px;
    margin-left: 4px;
    min-width: 200px; }
  .addlinkIcons-icon {
    padding: 3px;
    cursor: pointer; }

.tablePagination-wrapper {
  justify-content: center;
  align-items: center; }

.tablePagination-next {
  text-align: right; }

.tablePagination-desc {
  text-align: center; }
  .tablePagination-desc p {
    line-height: 38px; }

.linksTable {
  justify-content: center; }
  .linksTable table {
    border-collapse: collapse; }
  .linksTable table, .linksTable th, .linksTable td {
    border: 1px solid #dddddd; }
  .linksTable thead {
    background-color: #504C4D; }
    .linksTable thead th {
      color: white; }
  .linksTable tbody tr {
    height: auto; }
    .linksTable tbody tr:nth-child(2n) {
      background-color: #ffffff; }
    .linksTable tbody tr:nth-child(2n + 1) {
      background-color: #f9f9f9; }
  .linksTable tbody td {
    padding: 8px; }
  .linksTable .material-icons {
    color: black; }
  .linksTable .linksTable__delete {
    text-align: center;
    cursor: pointer; }
  .linksTable .linksTable__edit {
    text-align: center;
    cursor: pointer; }

.editForm__label {
  display: block;
  border: solid 1px #ff7626;
  width: 400px;
  margin: 4px auto;
  font-weight: bold;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */ }

.editForm__input {
  outline: none;
  border: none;
  padding: 4px 3px;
  margin-left: 4px;
  width: 298px;
  text-align: right; }

.editForm__desc {
  padding: 3px;
  width: 80px;
  display: inline-block;
  border-right: solid 1px #ff7626; }

.editForm__submit {
  font-weight: bold;
  border: solid 1px #ff7626;
  margin: 4px auto;
  display: block;
  width: 80px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */ }
